/* Links */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
	font-size: 150%;
	margin-bottom: 20px;
}

h2 {
	font-size: 130%;
	margin: 15px 0px;
}

ul, ol {
	padding: 0.5em 2.5em;
}

/* forms.css */

.container {
  width: 80%;
	min-width: 600px;
	max-width: 800px;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 25px;
	background: white;
}

header {
	width: 100%;
	overflow: auto;
	position: relative;
	padding-top: 15px;
}

div.site-title {
}

.beta {
	font-family: "Arial Black";
	font-size: 80%;
}

a.site-title {
	color: black;
	font-family: "Britannic Bold", "Arial Black";
	font-size: 350%;
	font-weight: bold;
	text-decoration: none;
}

.bar {
	width: 100%;
	height: 9px;
	background-color: #707070;
}

section {
	margin: 0;
	width: 100%;
	padding: 20px 0;
	border: 0;
	font-size: 100%;
}

/* Navigation */

nav {
	white-space: nowrap;
	position: absolute;
	bottom: 12px;
	right: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	color: black;
}

nav ul li a:hover {
	text-decoration: none;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */

footer {
	width: 100%;
	text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
	padding-bottom: 15px;
}

footer nav {
	position: static;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

div.field, div.actions {
	margin-bottom: 10px;
}

/* Flash */

.flash {
	color: red;
	margin-bottom: 20px;
}

/* Error messages */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul {
	margin-top: 1em;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.rank {
	float: left;
	width: 1.5em;
	text-align: right;
  color: #666;
	margin-right: 6px;
}

.arrow {
	float: left;
	margin-right: 3px;
}

.item-main {
	overflow: auto;
}

.headline a {
	color: black;
	text-decoration: none;
}

.domain {
	font-size: 80%;
  color: #666;
}

.meta-head {
	font-size: 80%;
	color: #666;
}

.meta-foot {
	font-size: 65%;
  color: #666;
	margin-top: -3px;
}

.meta-foot a {
	color: #666;
}

.meta-head a {
	color: #666;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0 15px 0 0;
}

.list-item {
	clear: left;
	margin-bottom: 8px;
	overflow: auto;
}

.reply-link {
	position: relative;
	font-size: 80%;
	color: #666;
	top: -6px;
}

.pagination {
	margin-top: 1em;
}

.pagination a {
	color: black;
}

table.profile td {
	padding: 0.5em 0;
	vertical-align: top;
}

.submit-link a {
	color: black;
}

.submit-link {
	margin-bottom: 1em;
}

ul.users {
	list-style-type: circle;
}