<h1>Links Upvoted by <%= @user.name %></h1>

<ol class="list">
	<% @upvoted_links.each_index do |i| %>
		<%= render :partial => 'shared/link', :locals => {:link => @upvoted_links[i], :rank => i + 1} %>
	<% end %>
</ol>

<%= will_paginate @upvoted_links %>