<% if !signed_in? %>
<h1 class="page_title">About</h1>
<p>The Libertarian Hive surfaces the best new content as voted on by our libertarian members.  Members are welcome to submit, vote on and discuss featured articles.  In order to maintain a high quality of content and discussion, membership is by invitation only.  We welcome intellectually active libertarians, particularly those who are engaged in libertarian organizations and causes.</p>
<p>We plan to launch in 2-3 months.  Please contact us if you would like to be involved in any way.</p>

<% else %>
<h1>About</h1>
<p>The Libertarian Hive surfaces the best new content as voted on by our libertarian members.  Members are welcome to submit, vote on and discuss featured articles.  In order to maintain a high quality of content and discussion, membership is by invitation only.  We welcome active libertarians, particularly those who are engaged in libertarian organizations and causes.</p>
<p>Please contact us if you would like to be involved in any way.</p>

<% end %>