<footer>
	<div class="bar"></div>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
			<% if false %>
			<iframe src="http://www.facebook.com/plugins/like.php?href=www.hivechatter.com"
			        scrolling="no" frameborder="0"
			        style="border:none; width:450px; height:80px"><iframe>
			<% end %>
    </ul>
  </nav>
</footer>